<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestLens Sample Suite" parallel="false">
    <listeners>
        <listener class-name="com.testlens.reporter.TestLensListener"/>
    </listeners>
    
    <test name="All Tests">
        <classes>
            <class name="com.testlens.sample.tests.GoogleSearchTest"/>
            <class name="com.testlens.sample.tests.NavigationTest"/>
            <class name="com.testlens.sample.tests.FormTest"/>
        </classes>
    </test>
</suite>
